


<div class = "comicBookContainer">
    <div class = "container">
      <div class = "row">
        <div class = "comicImgContainer">
          <img class = "comicImg" src = "{{comic.comicCoverImg}}">
        </div>
      </div>
      <div class = "row">
        <div class = "comicNameContainer">
          <h1 class = "comicName"> {{ comic.comicName }}</h1>
        </div>
      </div>
      <div class = "row">
        <div class = "comicWriterContainer">
          <h3 class = "comicWriter"> {{ comic.comicWriter }}</h3>
        </div>
      </div>
      <div class = "row">
        <div class = "comicArtistContainer">
          <h3 class = "comicArtist"> {{comic.comicArtist}} </h3>
        </div>
      </div>
      <div class = "row">
        <div class = "comicPublicationDateContainer">
          <h3 class = "comicPublicationDate"> {{ comic.comicPublicationDate }} </h3>
        </div>
      </div>
      <div class = "row">
        <div class = "addToInventoryButtonContainer">
          <h2 class = "addToInventoryButton"> Add To Inventory + </h2>
        </div>
      </div>
    </div>
</div>