
<div class = "navBarContainer">
  <nav class = "navBar">
    <h1 class = "navBarHeader"> Comiclysm </h1>
    <ul class = "navLinks">
      <li class = "navLinkItem"> <a class = "navLink" routerLink="/home">Home</a></li>
      <li class = "navLinkItem"><a class = "navLink" routerLink ="/showComics">Comics</a></li>
      <li class = "navLinkItem"> <a class = "navLink" routerLink="/inventory"> Inventory </a> </li>
      <li class = "navLinkItem"> <a class = "navLink"routerLink="/trade"> Trade </a>
      <li class = "navLinkItem"> <a class = "logoutButton" (click) = "logOut()"> Log Out </a></li>
    </ul>
  </nav>
</div>
