.navBarContainer, .registerLoginNavBar  {
    width: 100%;
}
.navBarContainer {
    margin: 0 auto 50px auto;
}
.navItemContainer{
    width: 50%;
    display: block;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.registerNav, .loginNav{
    text-decoration: none;
    color: rgb(5, 117, 209);
}
