.featuredComicsHomeContainer { 
    width: 100%;
    margin: 0 auto;
}
.featuredComicsHeader, .see-all-link {
    width: 100%;
    float: left;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.featuredComicsHeaderContainer, .featuredComicsListContainer { 
    width: 100%;
    margin: 0 auto;
    display: block;
    float:left;
}

.comicsList{ 
    list-style: none;
}
.featuredComicsList li { 
    flex-wrap: nowrap;
    margin: 0 auto;
    float: left;
    display: block;
}