<div class = "sideBarContainer">
  <div class = "filterByNameContainer">
    <input placeholder = "Enter Character Name:" [(ngModel)] = "comicNameInput">
    <button (click) = "callFilterByName()"> Search By Character </button>
  </div>
  <div class = "filterByYearContainer">
    <input placeholder = "Enter Year:" [(ngModel)] = "comicDateInput">
    <button (click) = "callFilterByYear()"> Search By Year </button>
  </div>
  <div class = "filterByWriterContainer">
    <input placeholder = "Enter Writer's Name:" [(ngModel)] = "comicWriterInput">
    <button (click) = "callFilterByWriter()">Search By Writer </button>
  </div>
  <div class = "filterByArtistContainer">
    <input placeholder = "Enter Artistt's Name:" [(ngModel)] = "comicArtistInput">
    <button (click) = "callFilterByArtist()">Search By Artist </button>
  </div>
</div>