.sideBarContainer { 
    width: 15%;
    height: 2000px;
    background-color:black;
    display: block;
    float: left;
    z-index: 1;
    position: absolute;
}


button {
    background-color: white;
}