html{
    background-color: black !important;
}
.completeContainer,.loginHeading{
    text-align: center;
}
.completeContainer{ 
    margin-top: 0px;
}

.loginHeading {
    margin-top: 20px;
}
.loginFormContainer{
    width: 50%;
    height: 420px;
    display: block;
    margin: 50px 300px 50px 300px;
    background-color: white;
    box-shadow: -5px 10px 50px rgb(5, 117, 209);
    border-radius: 5%;
}

.loginForm{
    width: 80%;
    margin: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(5, 117, 209);
    flex-wrap: wrap;
    display: block;
    margin-left: 10%;
}
.loginUserNameContainer, .loginPasswordContainer, .loginButtonContainer{
     width: 100%;
    float:left;
    display: block;
}
.LoginUserNameHeader,.LoginUserPasswordHeader { 
    font-size: 25px;
}
.loginUserName, .loginPassword {
    font-size: 15px;
    color: rgb(90, 90, 90);
    border-radius: 5%;
}
.loginButtonContainer
{
    margin-top: 10%;
}
.loginButton {
    background-color: rgb(5, 117, 209);
    color: white;
    width: 50%;
    font-family: 'Russo One', sans-serif;
    padding: 10px;
    font-size: 20px;
    border: 2px solid rgb(182, 182, 182);
    border-radius: 3%;
    
}

.loginButton:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    transition: box-shadow 0.7s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}