<app-nav-bar></app-nav-bar>

<div class = "container">
    <div class = "row">
      <div class = "inventoryLandingContainer">
          <h1 class = "inventoryLandingHeader"> {{inventoryOwnerName}}'s Inventory </h1>
        </div>
    </div>
    <div class = "row">
      <div class = "inventoryContainer">
        <div class = "inventoryListContainer">
          <ul class = "inventoryList">
            <div  *ngIf = "inventoryList.length > 0" class = "inventoryListItem">
              <li *ngFor = "let inventory of inventoryList"> {{inventory.inventoryName}} </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  <div class = "row">
      <div class = "inventoryControlsContainer">
          <div class = "addInventoryContainer">
            <button class = "addInventoryButton" (click) =  "addAnInventory = true;"> Add an Inventory </button>
          </div>
        </div>
  </div>
  <div class = "row">
      <div *ngIf = "addAnInventory === true"class = "addInventoryPanelContainer">
          <input placeholder = "New Inventory Name" [(ngModel)] = "newInventoryName">
          <button class = "addInventoryButton" (click) = "addInventory(newInventoryName)"> Add </button>
        </div>
  </div>
</div>
