
.comicListContainer{
    width: 100%;
    margin-top: 50px;
}
.comicList{
    list-style: none;
    width: 100%;
    flex-wrap: nowrap;
}

.comicListItem {
    float: left;
    width: 20%;
    margin: 5px;
}
.buffer {
    margin-right: 5px;
    margin-left: 5px;
}
.inventoryHeaderContainer {
    margin-top: 7%;
}

.inventoryHeader{
    text-align: center;
}