.heroImg { 
    height: 100%;
    width: 100%;
}

.featured-heroes-home-container { 
    width: 100%;
    margin: 15px auto;
}

.featured-heroes-header-container { 
    width: 100%; 
    margin: 2% auto;
    flex-wrap: nowrap;
    float:left;
}

.featured-heroes-header, .see-all-link { 
    width: 50%;
    margin: 0 auto;
    display: block;
    float: left;
}

.featured-hero-card {
    height: 500px;
    width: 100px;
    box-shadow: 1px 2px 2px black;
}



.featured-heroes-home-list { 
    width: 100%;
    margin: 0 auto;
    flex-wrap: nowrap;
    float:left;
    background-color: black;
}

.featured-hero-card { 
    display: block;
    width: 20%;
    margin: 0px;
    float: left;
    border-bottom: 1px solid black;
}

.featured-hero-name { 
    width: 100%;
    display: block;
    text-align: center;  
    font-size: 22px;
}