/* You can add global styles to this file, and also import other style files */
html,body { 
    margin: 0px;
    padding: 0;
    width:100%;
    background-color: rgb(17, 34, 61);
    color: white;
}

.container { 
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    float:left;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}