/* You can add global styles to this file, and also import other style files */
html,body { 
    margin: 0px;
    padding: 0;
    width:100%;
    background-color: rgb(255, 255, 255);
    color: rgb(69, 134, 233);
    font-family: Verdana, Geneva, sans-serif;
}

.container { 
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    float:left;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}